footer{
    background: #000000;
    padding: 40px 0 14px;
}

.footer-logo{
    width: 280px;
}
.footer-logo img{
    width: 100%;
}

.footer-main{
    gap: 30px;
    margin-top: 21px;
}
.product-menu{
    max-width: 260px;
    width: 100%;
}
.footer-main h4{
    color: #5ECF72;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
}
.product-menu-foot{
    margin-top: 12px;
    gap: 30px;
}
.product-menu-foot ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}
.product-menu-foot a, .footer-menu a{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Onest';
    transition: 0.3s;
    position: relative;
}
.product-menu-foot a:after, .footer-menu a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: 0.3s;
}
.product-menu-foot a:hover:after, .footer-menu a:hover:after{
    width: 100%;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}
.footer-menu {
    margin-right: 40px;
}
.footer-menu + .footer-menu{
    margin-right: 60px;
    position: relative;
    right: 50px;
}


.phone-number, .email{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Onest';
    color: #FFFFFF;
    width: max-content;
}
.email{
    margin-top: 10px;
}

.agree-privacy{
    margin-top: 55px;
}

.subscribe{
    padding: 9px 0;
    border-bottom: 1px solid #FFFFFF;
    max-width: 350px;
    gap: 6px;
    width: 100%;
}
.subscribe input{
    background: unset;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Onest';
    color: #FFFFFF;
    max-width: 170px;
    width: 100%;
}
.subscribe input::placeholder{
    font-family: 'Onest';
    color: #FFFFFF;
}
.subscribe a{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #24C433;
}

footer .buy-wildberries{
    max-width: 258px;
    width: 100%;
}
.checkbox {
    margin-top: 20px;

    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkbox input:checked ~ .radiobtn {
    border: 1px solid #24C433;

}
.checkbox .radiobtn:after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #24C433;
    content: "";
    position: absolute;
    display: none;
}
.checkbox input:checked ~ .radiobtn:after {
    display: block;
}
.checkbox small{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF4D;
}
.checkbox small a{
    color: #FFFFFF4D;
    text-decoration: underline;
    transition: 0.3s;
}
.checkbox small a:hover{
    color: #FFFFFF;
}
.policy-info{
    margin-top: 37px;
    border-top: 1px solid #F5F2EC4D;
    padding-top: 16px;
    color: #FFFFFF4D;

}
.policy-info p{
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF4D;
}
.policy-info span{
    color: #FFFFFF4D;
}
.policy-href{
    margin-top: 7px;
    gap: 13px;
}
.policy-href a{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
    transition: 0.3s;
    color: #FFFFFF4D;
}
.policy-href a:hover{
    color: #FFFFFF;
}


@media (max-width: 1399px){
    .checkbox small {
        font-size: 12px;
    }
    .radiobtn {
        top: 2px;
    }
}

@media (max-width: 1299px){
    .checkbox small {
        font-size: 11px;
    }
}
@media (max-width: 1199px){
    .phone-number, .email {
        font-size: 16px;
        line-height: 22px;
    }
    .footer-logo {
        width: 230px;
    }

    .checkbox small {
        font-size: 10px;
    }
    .footer-menu {
        margin-right: 0;
    }
    .footer-menu + .footer-menu{
        margin-right: 0;
        position: relative;
        right: 0;
    }
}
@media (max-width: 1020px){
    .footer-main {
        gap: 40px 30px;
        flex-wrap: wrap;
    }
    .agree-privacy {
        margin-top: 30px;
    }
    .footer-contact {
        width: 100%;
    }
    .subscribe {
        max-width: 100%;
    }
    .subscribe input {
        max-width: 370px;
    }
    .checkbox small {
        font-size: 12px;
    }
}
@media (max-width: 767px){
    .footer-main {
        gap: 35px 30px;
    }
    .product-menu {
        max-width: 100%;
    }
    .footer-main {
        justify-content: flex-start;
        gap: 35px 60px;
    }
    .policy-href {
        gap: 9px;
        flex-direction: column;
    }
    .policy-info {
        margin-top: 30px;
    }


}
@media (max-width: 570px){
    .product-menu-foot a, .footer-menu a {
        line-height: 18px;
    }
    .footer-contact {
        border-top: 1px solid #fff;
        padding-top: 22px;
    }
    .checkbox small {
        font-size: 10px;
    }
}