
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #000000;
    padding: 10.5px 0;
}
header .container{
    padding: 0 40px;
}
.header-main{
    gap: 98px;
}
.logo{
    max-width: 203px;
    width: 100%;
}
.menu-content{
    width: 100%;
}
.menu-mobile{
    gap: 20px;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.nav-menu ul{
    gap: 40px;
}
.nav-menu li{
}
.nav-menu li:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 110px;
    height: 30px;
    margin-bottom: -10px;
}

.nav-menu li>a, .open-product-menu{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: relative;
    gap: 12px;
    color: #FFFFFF;
    cursor: pointer;
    white-space: nowrap;
}
.open-product-menu span{
    font-size: 20px;
    font-weight: 300;


}

.nav-menu li>a:after, .open-product-menu:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #FFFFFF;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-menu li>a:hover:after, .open-product-menu:hover:after{
    width: 100%;
}


.header-cnt{
    gap: 39px;
}

.header-btn{
    gap: 12px;
    display: none;
}
.header-btn span{
    width: 2px;
    height: 16px;
    display: block;
    background: #FFFFFF;
}

.buy-wildberries{
    background: -webkit-gradient(linear, left top, right top, from(#EC3CCA), to(#7D17F8));
    background: -o-linear-gradient(left, #EC3CCA 0%, #7D17F8 100%);
    background: linear-gradient(90deg, #EC3CCA 0%, #7D17F8 100%);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    opacity: 1;
    padding: 8px 24px;
    gap: 7px;
    border-radius: 4px;

}
.buy-wildberries:hover{
    opacity: 0.7;
}
.logo-wb-mob{
    display: none;
}
.buy-wildberries span{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 11px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 2px;
    white-space: none;
}


.btn-login, .btn-register{
    font-weight: 400;
    font-size: 11px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: unset;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 3px;
}

.btn-login:hover, .btn-register:hover{
    color: #24C433;
}




.submenu-head{
    background: #000000;
    width: 100%;
    left: 0;
    margin-top: 20px;
    position: absolute;
    padding: 5px 0 40px;
    display: none;
    -webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
    -o-transition: all .3s cubic-bezier(.4,0,.2,1);
    transition: all .3s cubic-bezier(.4,0,.2,1);
    z-index: -1;
}

.nav-menu ul li:hover .submenu-head {
    display: block;

}

.submenu-head-cnt{
    position: relative;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: start;
    border-top: 1px solid #F5F2EC;
    padding-top: 48px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

}

.submenu-head-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px 40px;
    flex-wrap: wrap;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
.product-vitamins{
    max-width: 209px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    gap: 12px;
}
.product-vitamins img{
    max-width: 70px;
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}
.product-vitamins span{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #F5F2ED;
}
.href-all-product{
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
}
.href-all-product:hover{
    border-bottom: 1px solid transparent;
}
.href-all-product i{
    width: 10px;
}
.open-menu{
    display: none;
}
.close-menu {
    display: none;
}
.close-menu span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.close-menu span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
    position: relative;
}
.close-menu span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -5px;
}
.close-menu span:nth-child(3){
    display: none;
}

.body_fix {
    overflow: hidden;
}
.body_fix:before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px)

}


@media (max-width: 1399px){
    .header-main {
        gap: 50px;
    }

}

@media (max-width: 1299px){
    .nav-menu ul {
        gap: 25px;
    }
    .menu-mobile {
        gap: 14px;
    }
    header .container{
        padding: 0 20px;
    }
}


@media (max-width: 1099px) {

    .submenu-head-cnt {
        border-top: unset;
        padding-top: 20px;
    }
    .header-cnt {
        gap: 26px;
        margin-left: auto;
    }
    .header-main {
        gap: 21px;
    }
    .buy-wildberries {
        height: 36px;
        padding: 3px 17px;
        gap: 5px;
    }
    .buy-wildberries span {
        font-size: 10px;
        line-height: 11px;
        margin-top: 4px;
    }
    .buy-wildberries img{
        width: 80px;
    }


    .open-menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 8px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        height: 30px;
        width: 30px;
        z-index: 111111;
    }
    .open-menu span{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #F5F5F5;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
    .open-menu span:last-child{
        width: 15px;
        margin-left: auto;
    }

    .menu-content {
        width: 100%;
        position: fixed;
        z-index: 99999;
        top: 55px;
        left: 0;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        height: 95%;
        overflow: hidden;
        -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
        transform: translateY(-120%);

    }

    .transition-menu {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);

        -webkit-transition: all 0.6s ease 0s;
        -o-transition: all 0.6s ease 0s;
        transition: all 0.6s ease 0s;
    }
    .menu-mobile{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 30px 16px;
        background: #000000;
    }




    .nav-menu ul li:hover .submenu-head {
       display: none;
    }
    .submenu-head.opened-submenu {
        display: block!important;
    }

    .nav-menu ul {
        gap: 30px;
    }

    .nav-menu li>a, .open-product-menu {
        font-size: 16px;
        line-height: 18px;
        gap: 12px;
    }
    .nav-menu{
        width: 100%;
    }
    .nav-menu ul{
        width: 100%;
    }
    .nav-menu li>a:after, .open-product-menu:after{
        display: none;
    }




}

@media (max-width: 1020px){


    .nav-menu ul {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 10px;
    }
    .nav-menu ul li{
        width: 100%;

    }
    .nav-menu li>a, .open-product-menu {
        font-size: 16px;
        line-height: 18px;
        gap: 12px;
        padding: 15px 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        border-bottom: 1px solid #fff;
    }
    .submenu-head {
        z-index: 0;
    }
    .menu-mobile {
        padding: 20px 20px 40px;
    }
    .submenu-head {
        margin-top: 0;
        position: relative;
        padding: 0;
        height: 0;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .submenu-head.opened-submenu{
        height: auto;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    header .submenu-head-cnt {
        gap: 22px;
        -webkit-box-orient: vertical;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 22px 0 10px;
        flex-direction: column-reverse;
    }
    .submenu-head .container{
        padding: 0;
    }
    .submenu-head-flex {
        gap: 20px 17px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: flex-start;
        max-width: 960px;
    }
    .href-all-product {
        border-bottom: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        width: max-content;
        background: #24C433;
        padding: 10px 22px;
        border-radius: 4px;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    .menu-content {
        overflow-y: auto;
    }
}
@media (max-width: 767px){

    .nav-menu li>a, .open-product-menu {
        font-size: 16px;
        line-height: 18px;
        padding: 10px 0;
    }

    .menu-mobile {
        padding: 20px 15px 30px;
    }
}
@media (max-width: 670px){
    .logo-wb-mob{
        display: block;
    }
    header .buy-wildberries {
        padding: 3px 13px;
    }
    .logo-wb-desc{
        display: none;
    }
    header .buy-wildberries img {
        width: 26px;
    }
}
@media (max-width: 570px){
    .logo {
        max-width: 160px;
    }
    .product-vitamins {
        max-width: 48%;
    }
    .header-btn{
        display: none;
    }

    .header-main {
        gap: 20px;
    }
    .submenu-head-flex {
        gap: 8px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .product-vitamins img {
        max-width: 45px;
        height: 45px;
    }
    .magnesium-reviews img{
        width: 69px;
    }
    .logo {
        max-width: 146px;
    }
    header .buy-wildberries {
        padding: 3px 20px;
        height: 35px;
    }
}

@media (max-width: 399px){
    header .buy-wildberries {
        padding: 3px 13px;
    }
    .header-main {
        gap: 12px;
    }
}
