h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}


h2{
    font-weight: 400;
    font-size: 52px;
    line-height: 61px;
    color: #000000;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    font-family: 'Onest';

}








.magnesium-main{
    margin-top: 23px;
}

.magnesium-box{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 680px;
    padding-top: 166px;
    padding-bottom: 100px;
}
.magnesium-box:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1020px;
    width: 100%;
    height: 100%;
    background-image: url("../img/blur-fon.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.magnesium-info{
    max-width: 590px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-left: 59px;
}
.magnesium-reviews{
    display: flex;
    align-items: center;
    gap: 11px;
}
.magnesium-reviews ul{
    display: flex;
    align-items: center;
    gap: 6px;
}
.magnesium-reviews ul li{
    display: flex;
}
.icon-star{
    width: 16px;
    height: 16px;
    content: url("../img/icon/star.svg");
}
.magnesium-reviews small{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    margin-top: 4px;
}
.magnesium-info h1{
    margin-top: 16px;
}
.magnesium-info p{
    margin-top: 16px;
    color: #FFFFFF;
}
.magnesium-info .btn{
    margin-top: 24px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    width: max-content;
    background: #24C433;
    padding: 12px 30px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    white-space: nowrap;
}
.btn:hover{
    background: #00a30f;
}


.magnesium-slider .swiper-pagination{
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    position: relative;
    padding-left: 59px;
}
.swiper-pagination-bullet {
    display: inline-block;
    border-radius: 50%;
    background: #979494;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #FFFFFF;
}
.rel-paginat{
    position: relative;
    top: -39px;
    margin-top: -9px;
}









.swiper-container-free-mode > .swiper-wrapper{
    transition-timing-function : linear;
}



.partners-logos {
    overflow: hidden;
    padding: 20px 0;
    background: #000000;
}
.partners-logos:before{
    content: "";
    width: 100%;
}
.partners-logo{
    display: flex;
    justify-content: center;
}

.partners-slider{
    width: 1905px;
    pointer-events: none;

}
.positive-slider{
    width: 1903px;
    pointer-events: none;

}











.bestsellers-main{
    margin-top: 74px;
    padding-bottom: 48px;
}
.bestsellers-title{
    gap: 15px;
}

.bestsellers-arrow{
    gap: 10px;
    position: relative;
}

.swiper-button-next:after, .swiper-button-prev:after{
    display: none;
}

.swiper-button-next, .swiper-button-prev{
    border-radius: 50%;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid #333333;
    width: 45px;
    height: 45px;
    position: relative;
    transition: 0.3s;
}


.bestsellers-cnt{
    margin-top: 30px;
}
.bestsellers-cnt .bestsellers-arrow{
    display: none;
}

.bestsellers-box{
    transition: 0.3s;
    cursor: pointer;
}
.bestsellers-photo{
    width: 100%;
    position: relative;
    transition: 0.3s;

}
.bestsellers-photo img{
    border-radius: 8px;
    width: 100%;
    height: 335px;
    object-fit: cover;
    transition: 0.3s;
}
.bestsellers-photo>img{
    opacity: 0;
}
.bestsellers-photo-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}
.bestsellers-box:hover .bestsellers-photo-hover{
    opacity: 0;
}

.bestsellers-box:hover .bestsellers-photo>img{
    opacity: 1;
}

.bestsellers-info{
    margin-top: 21px;
}
.bestsellers-reviews{
    gap: 9px;
}
.bestsellers-reviews ul{
    gap: 6px;
}
.bestsellers-reviews span{
    font-family: 'Onest';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
}
.bestsellers-info h3{
    margin: 8px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.bestsellers-item{
    gap: 8px;
    margin-bottom: 18px;
}
.bestsellers-name{
    gap: 8px;

}
.icon-asset{
    content: url("../img/icon/asset1.svg");
}
.icon-asset-head{
    content: url("../img/icon/brain.svg");

}
.icon-intestines{
    content: url("../img/icon/intestines.svg");
}
.bestsellers-name p{
    font-size: 14px;
    line-height: 22px;
    color: #333333;
}

.btn-line{
    transition: 0.3s;
    width: max-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #24C433;
    padding: 8px 20px 6px;
    gap: 8px;
    border-radius: 4px;
    color: #24C433;
    font-weight: 400;
    font-size: 11px;
    line-height: 1;
    text-transform: uppercase;
    height: 36px;
    background: unset;
}
.btn-line:hover{
    color: #FFFFFF;
    background:  #24C433;
}



.positive-reviews{
    background: #000000;
    border: 1px solid #0000004D;
    padding: 14px 0;
    overflow: hidden;
    width: 100%;

}
.positive-slider .swiper-slide{
    width: max-content!important;
}


.positive-reviews-name  {
    white-space: nowrap;
    gap: 8px;
    justify-content: center;
}
.positive-reviews-name  p{
    white-space: nowrap;
    gap: 8px;
    color: #F5F2ED;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Unbounded';

}
.reviews-count{
    background: #24C433;
    width: max-content;
    white-space: nowrap;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #F5F2ED;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.from-others-main{
    background: #F5F2EC;
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}
.from-others-photo{
    max-width: 920px;
    width: 100%;
}
.from-others-photo img{
    width: 100%;
}
.from-others-info{
    max-width: 920px;
    width: 100%;
    padding: 90px 60px 40px;
}
.from-others-info h2{
    margin-bottom: 40px;
}
.from-others-text{
    margin-top: 28px;
}

.from-others-name{
    display: flex;
    align-items: center;
    gap: 11px;
}
.from-others-name i{
    background-color: #24C433;
    height: 17px;
    width: 17px;
}
.from-others-name h4{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin-top: 3px;
}

.composition-main{
    background: #24C433;

}

.composition-flex{
    padding: 60px 53px;
    gap: 20px;
}
.composition-name{
    display: flex;
    flex-direction: column;
}
.composition-name strong{
    font-weight: 400;
    font-size: 52px;
    line-height: 61px;
    color: #F5F2ED;
}
.composition-name span{
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #F5F2ED;
}

.composition-cnt{
    gap: 44px;
}
.composition-logo{
    width: 100px;
}
.producing-dietary{
    background: #FFFFFF;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.producing-flex{
    background: #FFFFFF;
}
.producing-info{
    max-width: 920px;
    width: 100%;
    padding: 190px 130px 140px 150px;
}

.producing-info p{
    margin: 20px 0 30px;
    color: #000000;
    font-size: 20px;
    line-height: 32px;
}
.producing-info .btn{
    max-width: 182px;
    width: 100%;
}
.producing-photo{
    max-width: 920px;
    width: 100%;

}
.producing-photo img{
    width: 100%;
}

.supplement-main{
    background: #000000;

}
.supplement-flex{
    gap: 30px;
    padding: 21px 0;
    border-bottom: 1px solid #F5F2EC4D;
}
.supplement-box{
    gap: 12px;
}
.supplement-box img{
    width: 74px;
}
.supplement-box span{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}











.nutrition-main{
    background: #000000;
    padding: 90px 0;
    overflow: hidden;
}
.nutrition-title h2{
    color: #FFFFFF;
    max-width: 904px;
    width: 100%;
}

.nutrition-cnt{
    position: relative;
    margin-top: 30px;
}
.nutrition-cnt .bestsellers-arrow{
    display: none;
}

.nutrition-box{
    width: 100%;
    background: #2D2D2E;
    border-radius: 8px;
}
.nutrition-box img{
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 298px;
    object-fit: cover;
}
.nutrition-text{
    padding: 17px 20px 20px;
}
.nutrition-text p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    height: 154px;
    overflow: hidden;
}
.nutrition-item{
    margin-top: 28px;
}
.nutrition-item small{
    color: #979494;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-transform: lowercase;
}
.nutrition-name {
    gap: 8px;
}
.nutrition-name h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
.icon-verify{
    width: 20px;
    height: 20px;
    content: url("../img/icon/verify.svg");
}

.nutrition-main .swiper-button-prev{
    border: 1px solid #FFFFFF;
}
.nutrition-main .swiper-button-next{
    border: 1px solid #FFFFFF;
}
.nutrition-main .swiper-button-prev i{
    background-color: #FFFFFF;
}
.nutrition-main .swiper-button-next i{
    background-color: #FFFFFF;

}






.customers-main{
    background: #F5F2EC;
    padding: 60px 0;
}
.customers-title h2{
    max-width: 902px;
    width: 100%;
}
.customers-title span{
    display: block;
}
.customers-cnt{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.customers-number{
    gap: 12px;
    display: flex;
    align-items: center;
}
.customers-number strong{
    color: #24C433;
    font-weight: 400;
    font-size: 35px;
    line-height: 28px;
}
.customers-number p{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}



.reviews-grid {
    width: 100%;
    margin: 30px auto 0;
}

.reviews-grid-items {
    width: 100%;
}

.reviews-grid-item {
    width: calc(25% - 16px);
    margin-bottom: 12px;
}

.reviews-grid-inner img {
    display: block;
    width: 100%;
    border-radius: 8px;
}

.reviews-grid-hid {
    display: none;
}






















.asked-questions-main{
    padding: 70px 0;
}

.accordion{
    margin-top: 30px;
    gap: 8px;
}
.accordion-colum{
    gap: 8px;
    width: 50%;
}
.accordion-box{
    width: 100%;
    border-radius: 4px;
    background: #F5F2EC;
}
.accordion-hidden{
    display: none;
}


.accordion-click{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 18px 20px 20px;
    cursor: pointer;
    gap: 14px;
}
.accordion-click h3{
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000000;
}

.accordion-plus{
    max-width: 16px;
    width: 100%;
    height: 16px;
    transition: 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open .accordion-plus{
    transform: rotate(45deg);
}
.accordion-plus:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #24C433;
    border-radius: 5px;
}
.accordion-plus:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #24C433;
    border-radius: 5px;
}

.submenu{
    display: none;
    padding: 0 20px 20px;
}

.see-more{
    margin: 30px auto 0;
    max-width: 253px;
    height: 52px;
    padding: 12px 30px;
    gap: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: #24C433;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    background: unset;
    border: 1px solid #24C433;
}
.see-more i{
    width: 14px;
    height: 14px;
    background-color: #24C433;
}


.hidden-acc-btn{
    display: none;
}






.magazine-main{
    padding-bottom: 62px;
}

.magazine-flex{
    padding-top: 60px;
    border-top: 1px solid #000000;
}
.magazine-title{
    max-width: 794px;
    width: 100%;
}
.magazine-title p{
    margin-top: 12px;
    color: #000000;
    font-size: 24px;
    line-height: 32px;
}
.magazine-cnt{
    margin-top: 30px;
    position: relative;
}
.magazine-cnt .bestsellers-arrow{
    display: none;
}
.magazine-box{
    transition: 0.3s;
    width: 100%;

}
.magazine-photo{
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 8px;

}
.magazine-photo img{
    width: 100%;
    border-radius: 8px;
    height: 280px;
    transition: 0.3s;
}
.magazine-box:hover .magazine-photo img{
    transform: scale(1.1);
}
.magazine-text{
    margin-top: 10px;
}
.magazine-text h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
    color: #24C433;
    text-align: left;
}
.magazine-text p{
    margin-top: 4px;
    color: #000000;
    font-size: 14px;
    line-height: 24px;
}

.magazine-cnt .btn{
    max-width: 173px;
    width: 100%;
    margin-top: 15px;
}












@media (max-width: 1599px){
    .nutrition-slider{
        width: 1600px;
    }

    .producing-info {
        max-width: 720px;
        padding: 190px 120px 140px 90px;
    }
    .from-others-info {
        max-width: 720px;
    }
}
@media (max-width: 1399px){
    .magnesium-info {
        margin-left: 0;
    }
    .magnesium-slider .swiper-pagination {
        padding-left: 0;
    }
    h2 {
        font-size: 44px;
        line-height: 50px;
    }
    .bestsellers-info h3 {
        font-size: 18px;
        line-height: 26px;
    }
    .from-others-info {
        max-width: 650px;
        padding: 55px 40px 40px;
    }
    .from-others-text {
        margin-top: 20px;
    }

    .composition-flex {
        padding: 40px 9px;
    }
    .producing-info {
        max-width: 654px;
        padding: 160px 80px 93px 50px;
    }
    .magazine-title p {
        font-size: 20px;
        line-height: 26px;
    }
    .magazine-title {
        max-width: 694px;
    }
    .customers-title h2 {
        max-width: 735px;

    }
    .customers-number strong {
        font-size: 30px;
    }

    .composition-name strong {
        font-size: 42px;
        line-height: 51px;
    }

}
@media (max-width: 1299px){
    h1 {
        font-size: 52px;
        line-height: 58px;
    }


    .magnesium-box {
        min-height: 560px;
        padding-top: 130px;
        padding-bottom: 36px;
    }
    .btn {
        padding: 12px 22px;
        font-size: 14px;
        line-height: 20px;
    }
    .from-others-name h4 {
        font-size: 18px;
        line-height: 22px;
    }
    h2 {
        font-size: 40px;
        line-height: 46px;
    }
    .nutrition-slider {
        width: 1300px;
    }
    .composition-cnt {
        gap: 22px;
    }
    .composition-name span {
        font-size: 24px;
        line-height: 30px;
    }
    .composition-logo {
        width: 88px;
    }
}
@media (max-width: 1199px){
    h1 {
        font-size: 44px;
        line-height: 52px;
    }
    .magnesium-info {
        max-width: 500px;
    }
    h2 {
        font-size: 34px;
        line-height: 40px;
    }

    .bestsellers-main {
        margin-top: 50px;
        padding-bottom: 35px;
    }
    .from-others-name h4 {
        font-size: 16px;
        line-height: 20px;
    }
    .from-others-text {
        margin-top: 15px;
    }
    p {
        font-size: 14px;
        line-height: 22px;
    }
    .from-others-info h2 {
        margin-bottom: 24px;
    }
    .from-others-info {
        padding: 55px 28px 40px;
    }
    .composition-logo {
        width: 76px;
    }
    .producing-info {
        padding: 70px 47px 64px 30px;
    }
    .producing-info p {
        margin: 16px 0 20px;
        font-size: 18px;
        line-height: 26px;
    }
    .supplement-box span {
        font-size: 12px;
        line-height: 17px;
    }
    .nutrition-title h2 {
        max-width: 658px;
    }
    .reviews-grid-item {
        width: calc(33.333333% - 16px);
    }
    .customers-title h2 {
        max-width: 580px;
    }

    .accordion-click {
        padding: 15px 16px 15px 20px;
    }
    .submenu {
        padding: 0 15px 15px;
    }
    .see-more {
        max-width: 253px;
        height: 46px;
        padding: 12px 22px;
    }



}
@media (max-width: 1020px){
    .magazine-title p {
        font-size: 18px;
        line-height: 23px;
    }
    .accordion {
        margin-top: 24px;
        flex-direction: column;
    }
    .accordion-colum {
        width: 100%;
    }
    h2 {
        font-size: 28px;
        line-height: 34px;
    }
    .reviews-grid-item {
        width: calc(50% - 16px);
    }
    .customers-number strong {
        font-size: 26px;
    }
    .customers-title{
        flex-direction: column;
        align-items: flex-start;
    }
    .customers-cnt {
        flex-direction: row;
        gap: 30px;
        margin-top: 21px;
    }
    .nutrition-slider {
        width: 1078px;
    }
    .nutrition-item {
        margin-top: 20px;
    }
    .supplement-flex {
        flex-wrap: wrap;
    }
    .supplement-box {
        max-width: 283px;
        width: 100%;
    }
    .producing-info p {
        font-size: 16px;
        line-height: 24px;
    }
    .producing-flex {
        flex-direction: column;
    }

    .producing-info {
        padding: 80px 35px 80px 30px;
        max-width: 100%;
    }
    .composition-flex {
        padding: 26px 9px;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .composition-name strong {
        font-size: 32px;
        line-height: 43px;
    }
    .composition-logo {
        width: 95px;
    }
    .from-others-cnt{
        flex-direction: column-reverse;
    }
    .composition-name {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    .from-others-info {
        padding: 60px 28px 60px;
        max-width: 100%;
    }
    h1 {
        font-size: 40px;
        line-height: 45px;
    }
    .partners-slider {
        width: 1205px;
    }
}

@media (max-width: 767px){
    .magnesium-box {
        padding-top: 120px;
        padding-bottom: 30px;
        background-position: center;
    }
    .bestsellers-photo img {
        height: 280px;
    }
    .composition-cnt {
        flex-wrap: wrap;
    }
    .composition-logo {
        width: 85px;
    }
    .bestsellers-title .bestsellers-arrow{
        display: none;
    }
    .bestsellers-cnt .bestsellers-arrow{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .supplement-box {
        max-width: 242px;
    }
    .nutrition-title .bestsellers-arrow{
        display: none;
    }

    .nutrition-cnt .bestsellers-arrow{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .nutrition-main {
        padding: 70px 0;
    }
    .magazine-flex .bestsellers-arrow{
        display: none;
    }
    .magazine-cnt .bestsellers-arrow{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 570px){
    .magnesium-reviews {
        gap: 5px 9px;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .container {
        padding: 0 15px;
    }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .from-others-info {
        padding: 50px 16px 50px;
        max-width: 100%;
    }

    .from-others-name h4 {
        font-size: 14px;
    }
    .composition-name {
        gap: 0;
        flex-direction: column;
        align-items: flex-start;
    }
    .composition-flex {
        padding: 26px 0;
    }
    .producing-info {
        padding: 60px 15px 60px 15px;
    }
    .supplement-box {
        max-width: 100%;
    }
    .nutrition-main {
        padding: 50px 0;
    }
    .nutrition-slider {
        width: 660px;
    }
    .nutrition-box img {
        height: 244px;
    }
    .nutrition-text {
        padding: 14px 14px 16px;
    }
    .nutrition-name h4 {
        font-size: 16px;
        line-height: 22px;
    }
    .customers-cnt {
        gap: 16px;
        margin-top: 20px;
        flex-direction: column;
    }
    .customers-main {
        padding: 50px 0;
    }
    .reviews-grid-item {
        width: calc(50% - 10px);
    }
    .asked-questions-main {
        padding: 50px 0;
    }
    .magazine-flex {
        padding-top: 50px;
    }
    .magazine-cnt {
        margin-top: 18px;
    }
    h1 {
        font-size: 34px;
        line-height: 44px;
    }
    .magnesium-info .btn {
        margin-top: 14px;
    }
    .magnesium-info p {
        margin-top: 8px;
    }
    .bestsellers-cnt {
        margin-top: 20px;
    }

    .composition-cnt {
        justify-content: center;
    }
    .producing-info p {
        margin: 12px 0 16px;
    }

    .supplement-flex {
        gap: 20px;
    }
    .accordion-click h3 {
        font-size: 13px;
        line-height: 20px;
    }
    .composition-logo {
        width: 90px;
    }
    .accordion-click {
        padding: 15px 16px 15px 15px;
    }
    h2 {
        font-size: 22px;
        line-height: 32px;
    }
    .producing-info p {
        margin: 7px 0 16px;
    }
}