

.icon {
    display: inline-block;
    height: 14px;
    width: 14px;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    font-size: 18px;
    background-color: #333333;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}


.icon.icon-arrow-left {
    mask-image: url('../img/icon/arrow-left.svg');
    -webkit-mask-image: url('../img/icon/arrow-left.svg');
}

.icon.icon-arrow-right {
    mask-image: url('../img/icon/arrow-right.svg');
    -webkit-mask-image: url('../img/icon/arrow-right.svg');
}

.icon.icon-arrow-bottom {
    mask-image: url('../img/icon/arrow-bottom.svg');
    -webkit-mask-image: url('../img/icon/arrow-bottom.svg');
}

.icon.icon-plus {
    mask-image: url('../img/icon/plus.svg');
    -webkit-mask-image: url('../img/icon/plus.svg');

    background-color: #FFFFFF;
}
.icon.icon-close {
    mask-image: url('../img/icon/close.svg');
    -webkit-mask-image: url('../img/icon/close.svg');

    background-color: #FFFFFF;
}
.icon.arrow-top-right {
    mask-image: url('../img/icon/arrow-top-right.svg');
    -webkit-mask-image: url('../img/icon/arrow-top-right.svg');

    background-color: #FFFFFF;
}