
.product-page{
    margin-top: 90px;
    padding-bottom: 70px;
}

.bread-caps ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 27px;
}
.bread-caps ul li, .bread-caps ul li a{
    font-family: 'Onest';
    color: #333333;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    position: relative;
}
.bread-caps ul li + li:before{
    content: url("../img/icon/arrow-rig.svg");
    width: 9px;
    height: 9px;
    position: absolute;
    left: -17px;
    top: 1px;
}

.product-page-cnt{
    margin-top: 18px;
    gap: 30px;
}

.product-page-rel{
    max-width: 855px;
    width: 100%;
    position: sticky;
    top: 89px;
}
.product-big-photo{
    position: relative;
    width: 100%;
    background: #F5F2EC;
    border-radius: 16px;
}
.product-big-photo img{
    width: 100%;
    border-radius: 16px;
}

.product-sm-slider{
    margin-top: 8px;
}

.product-sm-photo{
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 16px;

}
.swiper-slide-thumb-active .product-sm-photo{
    border: 1px solid #24C433;
}

.product-sm-photo img{
    width: 100%;
    border-radius: 16px;
    -o-object-fit: cover;
    object-fit: cover;
}

.product-big-slider .product-button-prev{
    position: absolute;
    left: 16px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #24C433;
    border: 1px solid #24C433;
}

.product-big-slider .product-button-next{
    position: absolute;
    top: 50%;
    right: 16px;
    left: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #24C433;
    border: 1px solid #24C433;

}
.product-big-slider .swiper-pagination-bullet-active {
    background: #24C433;

}

.product-big-slider .product-button-prev:before, .product-big-slider .product-button-next:before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;

}
.product-big-slider .product-button-prev:before{
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    left: 16px;
}
.product-big-slider .product-button-next:before{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 12px;
}

.product-page-info{
    max-width: 855px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
}
.product-page-block{
    width: 100%;
}
.product-page-block .magnesium-reviews small{
    color: #333333;

}
.product-page-block .magnesium-reviews span{
    color: #333333;
}
.product-page-block h2{
    color: #000000;
    margin: 16px 0;
}
.capsules-center{
    gap: 12px;
}
.capsules-reception{
    white-space: nowrap;
    border: 1px solid #24C433;
    padding: 6px 14px;
    border-radius: 20px;
    font-family: "Onest";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #24C433;
}
.product-page-block>p{
    margin-top: 16px;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
    margin-bottom: 24px;
}
.product-page-block .buy-wildberries {
    width: 100%;
    height: 52px;
}
.product-page-block .buy-wildberries span {
    font-size: 15px;

    line-height: 27px;
}
.product-page-block .buy-wildberries img {
    width: 103px;
}
.items-sold-flex{
    margin-top: 40px;
    gap: 40px;
}
.items-sold-box{
    max-width: 179px;
    width: 100%;
}
.items-sold-box svg{
    width: 80px;
    height: 80px;
}
.items-sold-box span{
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #000000;
    display: block;
    margin-top: 12px;
}
.items-sold-box small{
    margin-top: 4px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    display: block;

}

.product-page-info .accordion {
    margin-top: 0;
    gap: 8px;
}

.health-benefits{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    padding: 16px 20px 20px;
}
.health-benefits-box{
    gap: 16px;
}
.health-benefits-box img{
    width: 64px;
}
.health-benefits-name h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;

}
.health-benefits-name p{
    margin-top: 4px;
    color: #333333;
}

.items-sold-line{
    width: 1px;
    height: 144px;
    background: #F5F2EC;
    display: block;
}

.product-page-info .accordion-click h3{
    font-weight: 466;
    font-size: 18px;
    line-height: 28px;

}


.ingredients-fon{
    background: -webkit-gradient(linear, left top, left bottom, from(#F3DAC9), to(#F3D8C8));
    background: -o-linear-gradient(top, #F3DAC9 0%, #F3D8C8 100%);
    background: linear-gradient(180deg, #F3DAC9 0%, #F3D8C8 100%);
    width: 50%;
}
.ingredients-info{
    padding: 70px 70px 0 93px;

}
.ingredients-info p{
    margin-top: 20px;
    color: #251406;
    font-size: 18px;
    line-height: 26px;
}
.ingredients-fon img{
    margin-left: auto;
    margin-top: 48px;
    padding-left: 94px;
}

.ingredients-cnt{
    width: 50%;
    padding: 70px 20px 30px 60px;
}

.ingredients-box{
    gap: 24px;
    padding: 32px 0;
    border-bottom: 2px solid #F5F2EC;
}
.ingredients-box:first-child{
    padding-top: 0;
}
.ingredients-box:last-child{
    border-bottom: unset;

}
.ingredients-box img{
    width: 115px;
    border-radius: 50%;
}
.ingredients-name h4{
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
.ingredients-name p{
    margin-top: 8px;
}

.your-results-cnt{
    width: 50%;
    background: #F5F2EC;
    padding: 150px 70px 70px 130px;
}
.your-results-cnt h2{
    max-width: 400px;
    width: 100%;
}
.your-results-info{
    margin-top: 32px;
}
.your-results-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    padding-bottom: 32px;
}
.your-results-box:before{
    content: "";
    position: absolute;
    top: 0;
    left: 62px;
    width: 2px;
    height: 100%;
    background: #FFFFFF;
}

.your-results-box:last-child{
    padding-bottom: 0;
}
.your-results-box:last-child:before{
    display: none;
}
.your-results-week{
    background: #FFFFFF;
    max-width: 124px;
    width: 100%;
    height: 36px;
    padding: 6px 10px;
    white-space: nowrap;
    gap: 6px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}
.icon-check{
    content: url("../img/icon/check.svg");
}
.your-results-week span{
    color: #000000;
    font-family: "Onest";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.your-results-photo{
    width: 50%;
}
.your-results-photo img{
    width: 100%;
}


.your-results-cnt small{
    margin-top: 32px;
    display: block;
    color: #8C8C8C;
    font-family: "Onest";
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}
.your-results-text{
    max-width: 483px;
    width: 100%;
}
.your-results-text h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 4px;
}

.chelated-main{
    margin-top: 65px;
    padding-bottom: 93px;
}
.chelated-title{
    gap: 30px;
}
.chelated-flex{
    max-width: 600px;
    width: 100%;
}
.chelated-pic{
    max-width: 300px;
    width: 100%;
}
.chelated-content{
    margin-top: 16px;
    border-top: 2px solid #F5F2EC;

}
.chelated-text{
    border-bottom: 2px solid #F5F2EC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.chelated-text p{
    color: #000000;

}
.chelated-items{
    max-width: 600px;
    width: 100%;
}
.chelated-item{
    max-width: 300px;
    width: 100%;
    padding: 22px 0;
}
.chelated-green{
    background: #24C433;

}

.icon-check-white{
    content: url("../img/icon/icon-check.svg");
}
.icon-exclude{
    content: url("../img/icon/exclude.svg");

}








@media (max-width: 1699px){
    .product-page-rel {
        max-width: 792px;
    }

}
@media (max-width: 1599px){
    .product-page-rel {
        max-width: 685px;
    }

    .your-results-cnt {
        padding: 70px 70px 70px 91px;
    }

}
@media (max-width: 1399px){

    .product-page-rel {
        max-width: 640px;
    }
    .ingredients-info {
        padding: 70px 40px 0 50px;
    }
    .your-results-cnt {
        padding: 70px 40px 50px 50px;
    }
    .ingredients-cnt {
        padding: 70px 20px 50px 35px;
    }
    .ingredients-box {
        gap: 20px;
        padding: 20px 0;
    }
    .ingredients-box img {
        width: 103px;
    }
    .chelated-items {
        max-width: 520px;
    }
    .chelated-flex {
        max-width: 520px;
    }
}
@media (max-width: 1299px){
    .product-page-rel {
        max-width: 600px;
    }


    .items-sold-flex {
        margin-top: 30px;
        gap: 15px;
    }
    .product-page-info .accordion-click h3 {
        font-size: 16px;
        line-height: 24px;
    }
    .items-sold-box span {
        font-size: 18px;
    }
    .ingredients-fon img {
        margin-top: 25px;
        padding-left: 40px;
    }
    .ingredients-info {
        padding: 60px 30px 0 30px;
    }
    .ingredients-name h4 {
        font-size: 18px;
        line-height: 25px;
    }
    .ingredients-box img {
        width: 94px;
    }
    .your-results-cnt {
        padding: 60px 30px 40px 30px;
    }
    .your-results-box {
        padding-bottom: 20px;
    }
    .your-results-cnt small {
        margin-top: 18px;
    }

}
@media (max-width: 1199px){
    .product-page-cnt {
        gap: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .product-page-rel {
        max-width: 855px;
    }

    .product-page-info {
        max-width: 955px;
        gap: 30px;
    }
    .ingredients-name h4 {
        font-size: 16px;
        line-height: 23px;
    }

    .ingredients-box {
        padding: 15px 0;
    }
    .your-results-text h4 {
        font-size: 14px;
        line-height: 127%;
    }
    .your-results-cnt {
        padding: 50px 20px 30px 15px;
    }
    .ingredients-info {
        padding: 50px 20px 0 20px;
    }
    .chelated-items {
        max-width: 450px;
    }
    .chelated-flex {
        max-width: 450px;
    }
    .chelated-main {
        margin-top: 59px;
        padding-bottom: 60px;
    }
    .ingredients-name p {
        margin-top: 4px;
    }
    .product-page-rel {
        max-width: 100%;
        position: relative;
        top: 0;
    }
    .product-page-info {
        max-width: 100%;
    }


}
@media (max-width: 1020px){
    .ingredients-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .ingredients-fon {
        width: 100%;
    }
    .ingredients-cnt{
        width: 100%;
    }
    .your-results-flex{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .your-results-cnt {
        width: 100%;
    }
    .your-results-photo {
        width: 100%;
    }
    .chelated-items {
        max-width: 160px;
    }
    .chelated-flex{
        display: none;
    }

}
@media (max-width: 767px){



    .product-page-block>p {
        margin-top: 12px;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 18px;
    }
    .health-benefits {
        gap: 24px;
        padding: 16px 12px 12px;
    }
    .health-benefits-box img {
        width: 54px;
    }
    .ingredients-cnt {
        padding: 40px 20px;
    }


}
@media (max-width: 575px){


    .product-big-slider .product-button-prev {
        left: 12px;
        width: 38px;
        height: 38px;
    }
    .product-big-slider .product-button-next {
        right: 10px;
        width: 38px;
        height: 38px;
    }
    .product-big-slider .product-button-prev:before, .product-big-slider .product-button-next:before {
        width: 9px;
        height: 9px;
    }
    .product-big-slider .product-button-next:before {
        left: 11px;
    }
    .product-big-slider .product-button-prev:before {
        left: 14px;
    }


    .product-page-block h2 {
        font-size: 26px;
        line-height: 28px;
    }
    .capsules-reception {
        font-size: 14px;
        line-height: 20px;
    }
    .items-sold-flex {
        margin-top: 30px;
        gap: 21px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .items-sold-line {
        width: 100%;
        height: 1px;
    }
    .health-benefits-box img {
        width: 37px;
    }
    .health-benefits-name h4 {
        font-size: 13px;
    }
    .health-benefits-name p {
        font-size: 13px;
        line-height: 17px;
    }

    .ingredients-box img {
        width: 70px;
    }
    .your-results-box:before{
        display: none;
    }
    .your-results-box {
        padding-bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .your-results-cnt small {
        font-size: 14px;
        line-height: 18px;
    }

    .product-sm-photo {
        border-radius: 10px;
    }
    .product-sm-photo img {
        border-radius: 10px;
    }
    .chelated-items {
        max-width: 110px;
    }
    .chelated-item {
        padding: 14px 0;
    }
    .chelated-item i{
        width: 22px;
    }
    .ingredients-name p {
        margin-top: 1px;
        line-height: 18px;
    }
}