
@font-face {
    font-family: 'Bounded';
    src:  url('Bounded-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;

}
@font-face {
    font-family: 'Bounded';
    src:  url('Bounded-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;

}
@font-face {
    font-family: 'Bounded';
    src:  url('Bounded-Variable.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;

}










@font-face {
    font-family: 'Onest';
    src: url('Onest-Regular.eot');
    src: local('Onest Regular'), local('Onest-Regular'),
    url('Onest-Regular.eot?#iefix') format('embedded-opentype'),
    url('Onest-Regular.woff2') format('woff2'),
    url('Onest-Regular.woff') format('woff'),
    url('Onest-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}